body {
  font-family: sans-serif;
  padding: 60px;
  background: #0f0f0f;
}

.headline {
  margin-top: 250px;
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.text-rotate {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  background: #5b4f96;
  padding: 10px;
  border-radius: 10px;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-element {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
  animation: enter 0.6s ease forwards;
}

.text-rotate-exit {
  animation: exit 0.6s ease forwards;
}

.text-rotate-space {
  white-space: pre;
}

/* Animations */
@keyframes enter {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes exit {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-120%);
    opacity: 0;
  }
}
